@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    padding: 10px 80px 0px;
}

/* *************** Common Styles ***************** */
.section-gap{
    margin-top: 40px;
}

.offer-title,
.portfolio-title,
.event-title,
.subscribe-title{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

.banner-subtitle,
.join-subtitle,
.holydays-subtitle,
.subscribe-subtitle{
    font-family: 'Merriweather', serif;
    font-size: 50px;
}

.subtext{
    font-family: Inter;
    font-size: 15px;
    line-height: 20px;
}

.margin-bottom-2{
    margin-bottom: 10px;
}

.margin-bottom-4{
    margin-bottom: 20px;
}

.text-center{
    text-align: center;
}

.text-red{
    color: #F00;
}

.text-white{
    color: #FFF;
}

.text-muted{
    color: rgba(7, 2, 17, 0.60);;
}

.text-uppercase{
    text-transform: uppercase;
}

/* *************** Button Styles ***************** */
.btn-transparent{
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding-left: 15px;
}

.btn-red{
    background-color: red;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border:none;
}

/* *************** Banner Styles ***************** */
#banner-section{
    height:100vh;
    /* height:540px; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(22, 2, 34, 0.1), rgba(13, 13, 14, 0.642)), url(./resources/Banner-Image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.banner-title{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

/* *************** Deals Styles ***************** */
#deals-section{
    max-height: 600px;
    font-family: 'Inter', sans-serif;
}
.deal-title{
    font-size: 50px;
    margin-bottom: 15px;
}
.discount-heading{
    font-size: 15px;
}
.category-text{
    font-size: 35px;
    margin-bottom: 15px;
}
#deals-section img{
    width: 60%;
}

/* *************** Join Styles ***************** */
#join-section{
    /* height:100vh; */
    height:540px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to top, rgba(22, 2, 34, 0.1), rgba(13, 13, 14, 0.642)), url(./resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.join-first-content{
    width: 40%;
}
.join-subtitle{
    letter-spacing: 4px;
}
#join-section img{
    width: 25%;
}

/* *************** Event Styles ***************** */
#event-section{
    padding: 60px 0px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 10px;
}

/* *************** Offer Styles ***************** */
#offer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offer-subtitle,
.portfolio-subtitle{
    font-family: Merriweather;
    font-size: 35px;
}
.offer-first-content,
.offer-last-content{
    width: 25%;
}
.offer-second-content{
    width: 280px;
    height: 280px;
    border: 5px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offer-second-content img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
.offer-last-content img{
    width: 80px;
}

/* *************** Holyday Styles ***************** */
.holydays-heading p,
.subscribe-heading p{
    width: 65%;
    display:block;
    margin: 0 auto;
}
.holiday-gallery{
    display: flex;
    justify-content: end;
}
.holiday-image-container {
    width: 230px;
}
.holyday-character-image{
    width: 100%;
    margin-bottom: -216px;
}
.holyday-circle-image {
    margin-left: -40%;
    width: 190px;
}
.holyday-bottom-image{
    width: 100%;
    height: 130px;
}
.holyday-pop-image{
    width: 300px;
    height: 300px;
    margin-top: -280px;
    margin-left: 80px;
}

/* *************** Portfolio Styles ***************** */
.portfolio-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.portfolio-gallery img{
    width: 270px;
    height: 250px;
    flex-grow: 1;
}

/* *************** Subscribe Styles ***************** */
#subscribe-section{
    padding: 60px 0px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.05);
}
#subscribe-section img{
    width: 100px;
    display: block;
    margin: 0 auto;
}
.subscribe-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.subscribe-box input{
    width: 300px;
    border: none;
    padding: 10px 20px;
}
.subscribe-box button{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}




